/* Color Mode */
:root
  --color-background $color-background
  --color-background-secondary $color-background-secondary
  --color-background-rgb $color-background-rgb
  --color-text $color-text
  --color-text-secondary $color-text-secondary
  --color-text-third $color-text-third
  --color-border $color-border
  --color-surface #ffffff
  --color-overlay rgba(11, 18, 24, 0.68)
  --background-image url(hexo-config('preview.background.default_image.light'))
  --loading-image url(hexo-config('loading.gif'))
  --lazyload-image url(hexo-config('lazyload.loading.gif'))
dark()
  --color-background $color-background-dark
  --color-background-secondary $color-background-secondary-dark
  --color-background-rgb $color-background-rgb-dark
  --color-text $color-text-dark
  --color-text-secondary $color-text-secondary-dark
  --color-text-third $color-text-third-dark
  --color-border $color-border-dark
  --color-surface #252932
  --color-overlay rgba(4, 8, 12, 0.74)
  --background-image url(hexo-config('preview.background.default_image.dark'))
  --loading-image url(hexo-config('loading.gif'))
  --lazyload-image url(hexo-config('lazyload.loading.gif'))
@media (prefers-color-scheme dark)
  :root
    --color-mode 'dark'
  :root:not([color-mode])
    dark()
[color-mode='dark']
  dark()
/* Dark mode compatibility */
[color-mode='dark']
  .tags a
    color var(--color-text) !important
