  <button type="button" class="fab fab-plus" aria-label="展开快捷操作" aria-expanded="false">
    <i class="iconfont iconplus"></i>
  </button>
  <button type="button" class="fab fab-up" aria-label="返回页面顶部">
    <i class="iconfont iconcaret-up"></i>
  </button>
  <% if (is_post() && theme.leancloud.enable) { %>
    <button type="button" class="fab fab-like" aria-label="喜欢这篇文章">
      <i class="iconfont iconheart"></i>
    </button>
  <% } %>
  <% if (theme.daovoice.enable) { %>
    <button type="button" class="fab fab-daovoice" aria-label="打开消息">
      <i class="iconfont iconcomment"></i>
    </button>
  <% } %>
  <% if (theme.tencentChao.enable) { %>
    <a class="fab fab-tencent-chao" href="https://support.qq.com/product/<%= theme.tencentChao.appId %>" target="_blank" rel="noopener noreferrer" aria-label="打开反馈页面">
      <i class="iconfont iconcomment"></i>
    </a>
  <% } %>
  <% if (is_post() && ((theme.toc.always_show && page.toc !== false) || (!theme.toc.always_show && page.toc === true))) { %>
    <button type="button" class="fab fab-toc" aria-label="打开文章目录" aria-controls="post-toc" aria-expanded="false">
      <i class="iconfont iconmenu"></i>
    </button>
  <% } %>
