<% 
  var title = null, style = null;
  if (is_post() || is_page()) {
    title = page.title;
  } else if (is_archive()) {
    title = '归档';
  } else if (is_category()) {
    title = '分类';
  } else if (is_tag()) {
    title = '标签';
  } else if (is_home()) {
    title = ' ';
  }
  
  // 构建菜单列表
  var menuList = '';
  for (var i in theme.menu) {
    var arr = theme.menu[i].split('||');
    var url = arr[0];
    var name = arr[1];
    menuList += 
      `<a href="${url}" class="navbar-menu-item underline ${('/'+path.replace('index.html','') === trim(url)) ? 'active' : ''}">${name}</a>`;
  } 
%>

<% if (title) { %>
  <nav class="navbar">
    <div class="left">
      <% if (theme.navbar.back_home && !is_home()) { %>
        <i class="iconfont iconhome j-navbar-back-home"></i>
      <% } %>
      <% if (theme.qrcode.enable) { %>
        <i class="iconfont iconqrcode j-navbar-qrcode"></i>
      <% } %>
      <% if (theme.color_mode.enable) { %>
        <i class="iconfont iconmoono" id="color-toggle" color-toggle="light"></i>
      <% } %>
      <% if (theme.search.enable && config.search.path) { %>
        <i class="iconfont iconsearch j-navbar-search"></i>
      <% } %>
    </div>
    
    <!-- 桌面端菜单 -->
    <div class="center navbar-menu-desktop">
      <%- menuList %>
    </div>
    
    <!-- 移动端标题 -->
    <div class="center navbar-title-mobile"><%= title %></div>
    
    <div class="right">
      <!-- 移动端汉堡包菜单按钮 -->
      <i class="iconfont iconmenu j-navbar-menu-toggle"></i>
    </div>
    
    <% if (theme.qrcode.enable) { %>
      <div id="qrcode-navbar"></div>
    <% } %>
    
    <!-- 移动端下拉菜单 -->
    <div class="navbar-menu-mobile">
      <%- menuList %>
      <% if (theme.copyright) { %>
        <div class="navbar-menu-copyright"><%- theme.copyright %></div>
      <% } %>
    </div>
  </nav>
<% } %>